@font-face {
  font-family: 'MyanmarPonenyet';
  src: url('MyanmarPonenyet.ttf') format('truetype'),
       url('MyanmarPonenyet.woff') format('woff'),
       url('MyanmarPonenyet.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

