     @font-face {
        font-family:"NamKhoneUnicode";
        src: url("https://saosu-mp.github.io/font/NamKhoneUnicode/NamKhoneUnicode.woff") format("woff"),
             url("https://saosu-mp.github.io/font/NamKhoneUnicode/NamKhoneUnicode.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/NamKhoneUnicode/NamKhoneUnicode.ttf") format("ttf");
      }
     @font-face {
        font-family:"GHK TaungGyi";
        src: url("https://saosu-mp.github.io/font/GHKTaungGyi/GHKTaungGyi.woff") format("woff"),
             url("https://saosu-mp.github.io/font/GHKTaungGyi/GHKTaungGyi.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/GHKTaungGyi/GHKTaungGyi.ttf") format("ttf");
      }
      @font-face {
        font-family:"GreatHorKham Yangon";
        src: url("https://ar-themes.github.io/fonts/GHK/GreatHorKham Yangon.woff") format("woff"),
             url("https://ar-themes.github.io/fonts/GHK/GreatHorKham Yangon.woff2") format("woff2"),
             url("https://ar-themes.github.io/fonts/GHK/GreatHorKham Yangon.ttf") format("ttf");
      }
     @font-face {
        font-family:"PangLong";
        src: url("https://saosu-mp.github.io/font/PangLong/PangLong.woff") format("woff"),
             url("https://saosu-mp.github.io/font/PangLong/PangLong.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/PangLong/PangLong.ttf") format("ttf");
      }
     @font-face {
       font-family:'Ours-Unicode';
       src:local('Ours-Unicode'), url('https://mmwebfonts.comquas.com/fonts/oursunicode.woff') format('woff'), 
             url('https://mmwebfonts.comquas.com/fonts/oursunicode.ttf') format('ttf');
     }
     @font-face {
      font-family: 'Tharlon';
       font-style: normal;
       font-weight: 400;
       src: url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.eot);
       src: url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.eot?#iefix) format('embedded-opentype'),
            url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.woff2) format('woff2'),
            url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.woff) format('woff'),
            url(//fonts.gstatic.com/ea/tharlon/v3/Tharlon-Regular.ttf) format('truetype');
     }
   @font-face {
        font-family:"NamKhone Web Pro";
        src: url("https://saosu-mp.github.io/font/NamKhoneWebPro/NamKhoneWebPro.woff") format("woff"),
             url("https://saosu-mp.github.io/font/NamKhoneWebPro/NamKhoneWebPro.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/NamKhoneWebPro/NamKhoneWebPro.ttf") format("ttf");
      }
   @font-face {
        font-family:"NamTeng Web Pro";
        src: url("https://saosu-mp.github.io/font/NamTengWebPro/NamTengWebPro.woff") format("woff"),
             url("https://saosu-mp.github.io/font/NamTengWebPro/NamTengWebPro.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/NamTengWebPro/NamTengWebPro.ttf") format("ttf");
      }
     @font-face {
        font-family:"NK SSmart2";
        src: url("https://saosu-mp.github.io/font/NKSSmart2/NKSSmart2.woff") format("woff"),
             url("https://saosu-mp.github.io/font/NKSSmart2/NKSSmart2.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/NKSSmart2/NKSSmart2.ttf") format("ttf");
      }
     @font-face {
        font-family:"NK SSmart3";
        src: url("https://saosu-mp.github.io/font/NKSSmart3/NKSSmart3.woff") format("woff"),
             url("https://saosu-mp.github.io/font/NKSSmart3/NKSSmart3.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/NKSSmart3/NKSSmart3.ttf") format("ttf");
      }
     @font-face {
        font-family:"NK SSmart4";
        src: url("https://saosu-mp.github.io/font/NKSSmart4/NKSSmart4.woff") format("woff"),
             url("https://saosu-mp.github.io/font/NKSSmart4/NKSSmart4.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/NKSSmart4/NKSSmart4.ttf") format("ttf");
      }
     @font-face {
        font-family:"GHK Muse";
        src: url("https://saosu-mp.github.io/font/GHKMuSe/GHKMuse.woff") format("woff"),
             url("https://saosu-mp.github.io/font/GHKMuSe/GHKMuSe.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/GHKMuSe/GHKMuse.ttf") format("ttf");
      }
     @font-face {
       font-family:'GHK KengTung';
       src:local('GHK KengTung'), url('https://mmwebfonts.comquas.com/fonts/GHKKengtung.woff') format('woff'), 
             url('https://mmwebfonts.comquas.com/fonts/GHKKengtung.ttf') format('ttf');
     }
     @font-face {
        font-family:"GHK Tachileik";
        src: url("https://ar-themes.github.io/fonts/GHK/GHKTachileik.woff") format("woff"),
             url("https://ar-themes.github.io/fonts/GHK/GHKTachileik.woff2") format("woff2"),
             url("https://ar-themes.github.io/fonts/GHK/GHKTachileik.ttf") format("ttf");
      }
     @font-face {
        font-family:"LuenTai1";
        src: url("https://saosu-mp.github.io/font/LuenTai1/LuenTai1.woff") format("woff"),
             url("https://saosu-mp.github.io/font/LuenTai1/LuenTai1.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/LuenTai1/LuenTai1.ttf") format("ttf");
      }
     @font-face {
        font-family:"LuenTai2";
        src: url("https://saosu-mp.github.io/font/LuenTai2/LuenTai2.woff") format("woff"),
             url("https://saosu-mp.github.io/font/LuenTai2/LuenTai2.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/LuenTai2/LuenTai2.ttf") format("ttf");
      }
     @font-face {
        font-family:"KengTawng2";
        src: url("https://saosu-mp.github.io/font/KengTawng2/KengTawng2.woff") format("woff"),
             url("https://saosu-mp.github.io/font/KengTawng2/KengTawng2.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/KengTawng2/KengTawng2.ttf") format("ttf");
      }
     @font-face {
        font-family:"KT2";
        src: url("https://saosu-mp.github.io/font/KT2/KT2.woff") format("woff"),
             url("https://saosu-mp.github.io/font/KT2/KT2.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/KT2/KT2.ttf") format("ttf");
      }
     @font-face {
        font-family:"KT3";
        src: url("https://saosu-mp.github.io/font/KT3/KT3.woff") format("woff"),
             url("https://saosu-mp.github.io/font/KT3/KT3.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/KT3/KT3.ttf") format("ttf");
      }
   @font-face {
     font-family:'Pyidaungsu';
     src:local('Pyidaungsu'), url('https://mmwebfonts.comquas.com/fonts/Pyidaungsu-2.1_Regular.woff') format('woff'), 
           url('https://mmwebfonts.comquas.com/fonts/Pyidaungsu-2.1_Regular.ttf') format('ttf');
     }
   @font-face {
     font-family:'Pyidaungsu';
     src:local('Pyidaungsu'), url('https://mmwebfonts.comquas.com/fonts/Pyidaungsu-2.1_Bold.woff') format('woff'), 
           url('https://mmwebfonts.comquas.com/fonts/Pyidaungsu-2.1_Bold.ttf') format('ttf');
     font-weight:bold;
     }
   @font-face {
   font-family: 'Myanmar Sans Pro';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/myanmarsanspro/v4/MyanmarSansPro-Regular.eot);
   src: url(//fonts.gstatic.com/ea/myanmarsanspro/v4/MyanmarSansPro-Regular.eot?#iefix) format('embedded-opentype'),
        url(//fonts.gstatic.com/ea/myanmarsanspro/v4/MyanmarSansPro-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/myanmarsanspro/v4/MyanmarSansPro-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/myanmarsanspro/v4/MyanmarSansPro-Regular.ttf) format('truetype');
     }
@font-face {
  font-family: 'Khyay';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/khyay/v2/Khyay-Regular.eot);
  src: url(//fonts.gstatic.com/ea/khyay/v2/Khyay-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/khyay/v2/Khyay-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/khyay/v2/Khyay-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/khyay/v2/Khyay-Regular.ttf) format('truetype');
}
     @font-face {
        font-family:"Masterpiece Uni Round";
        src: url("https://saosu-mp.github.io/font/MasterpieceUniRound/MasterpieceUniRound.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MasterpieceUniRound/MasterpieceUniRound.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MasterpieceUniRound/MasterpieceUniRound.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Angoun";
        src: url("https://saosu-mp.github.io/font/MyanmarAngoun/MyanmarAngoun.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarAngoun/MyanmarAngoun.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarAngoun/MyanmarAngoun.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Gantgaw";
        src: url("https://saosu-mp.github.io/font/MyanmarGantgaw/MyanmarGantgaw.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarGantgaw/MyanmarGantgaw.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarGantgaw/MyanmarGantgaw.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Sagar";
        src: url("https://saosu-mp.github.io/font/MyanmarSagar/MyanmarSagar.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarSagar/MyanmarSagar.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarSagar/MyanmarSagar.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Yinmar";
        src: url("https://saosu-mp.github.io/font/MyanmarYinmar/MyanmarYinmar.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarYinmar/MyanmarYinmar.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarYinmar/MyanmarYinmar.ttf") format("ttf");
      }
     @font-face {
        font-family:"Myanmar Square Light";
        src: url("https://saosu-mp.github.io/font/MyanmarSquareLight/MyanmarSquareLight.woff") format("woff"),
             url("https://saosu-mp.github.io/font/MyanmarSquareLight/MyanmarSquareLight.woff2") format("woff2"),
             url("https://saosu-mp.github.io/font/MyanmarSquareLight/MyanmarSquareLight.ttf") format("ttf");
      }
