      @font-face {
        font-family: &#39;GHK Muse&#39;;
        src: url(&quot;https://saosump.github.io/font/GHKMuse.woff&quot;) format(&quot;woff&quot;),
          url(&quot;https://saosump.github.io/font/GHKMuSe.woff2&quot;) format(&quot;woff2&quot;),
          url(&quot;https://saosump.github.io/font/GHKMuse.ttf&quot;) format(&quot;ttf&quot;);
      }