@font-face {
  font-family: 'LuenTai.info';
  src: url('LuenTai.info.ttf') format('truetype'),
       url('LuenTai.info.woff') format('woff'),
       url('LuenTai.info.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

