@font-face {
  font-family: 'MyanmarSquareLight';
  src: url('MyanmarSquareLight.ttf') format('truetype'),
       url('MyanmarSquareLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'myanmarsquarelight';
  src: url('myanmarsquarelight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

