@font-face {
  font-family: 'GreatHorKham Yangon';
  src: url('GreatHorKham Yangon.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GreatHorKhamYangon';
  src: url('GreatHorKhamYangon.ttf') format('truetype'),
       url('GreatHorKhamYangon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

