@font-face {
  font-family: 'KT2';
  src: url('KT2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KengTawng.002';
  src: url('KengTawng.002.ttf') format('truetype'),
       url('KengTawng.002.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

