@font-face {
  font-family: 'Kalay';
  src: url('Kalay.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyanmarKalay';
  src: url('MyanmarKalay.ttf') format('truetype'),
       url('MyanmarKalay.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

