@font-face {
  font-family: 'NamTeng2017';
  src: url('NamTeng2017.ttf') format('truetype'),
       url('NamTeng2017.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Namteng 2017';
  src: url('Namteng 2017.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

